.contacts {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
  margin-left: auto;

  color: var(--main-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__link {
  @include flex(null, center);
  color: var(--main-cl);

  &--padding-top {
    padding-top: 21px;
  }
  &--padding-bottom {
    padding-bottom: 21px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);

  &:hover,
  &:focus {
    color: var(--blue-cl);
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.contacts__icons-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icons-phone {
  margin-right: 10px;
  fill: currentColor;
}
