.policy {
  @include flex-center;
  margin-bottom: 30px;
}

.policy__checkbox {
  appearance: none;
  position: absolute;
}

.policy__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--header-cl);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .policy__checkbox:checked + & {
    background-color: var(--blue-bg-cl);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: 2px solid var(--blue-bg-cl);
  }

  .policy__checkbox:focus + & {
    border: 2px solid var(--blue-bg-cl);
  }
}

.policy__link {
  @include flex-center(false, true);
  color: var(--blue-cl);
  border-bottom: 1px solid var(--blue-cl);
  height: 15px;
}

.policy__text {
  display: block;
  user-select: none;
}
