/* 
|=================================
|     features 
|=================================
*/

.features {
  @include section(60px, 60px);
  @media screen and (min-width: $desktop) {
    @include section(94px, 94px);
  }
}

.features__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.features__item {
  @media screen and (max-width: ($tablet - 1px)) {
    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  @media screen and (min-width: $tablet) {
    @include item(2, var(--gap));
  }

  @media screen and (min-width: $desktop) {
    @include item(4, var(--gap));
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.features__thumb {
  @include flex(center, center);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 120px;
  @media screen and (min-width: $desktop) {
    width: 270px;
  }

  background-color: var(--btn-bg-cl);
}
