/*
|=================================
| footer 
|=================================
*/

.footer {
  @include section(60px, 60px, var(--footer-bg-cl));
  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.footer-flex {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.footer-flex__tablet {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: auto;
    margin-bottom: 0px;
  }
}

.footer-flex__item {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    @include item(2, 0px);
  }

  &:first-child {
    margin-bottom: 60px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: var(--white-cl);

  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);
  &:hover,
  &:focus {
    color: var(--blue-cl);
  }
}

.address__link--alfa {
  color: var(--white-alfa-cl);

  transition: color var(--animation-effect-duration) var(--animation-effect-cubic);

  &:hover,
  &:focus {
    color: var(--blue-cl);
  }
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
  color: var(--white-cl);
  font-weight: 700;
}
