/* 
|=================================
|     hero
|=================================
 */

.hero {
  // desktop height: 600px;
  max-width: 1600px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  @include section(118px, 118px, var(--footer-bg-cl));
  @media screen and (min-width: $desktop) {
    @include section(200px, 200px, var(--footer-bg-cl));
  }
  text-align: center;
  background-image: linear-gradient(to right, var(--hero-overlay-cl), var(--hero-overlay-cl)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;

  @include font(26px, 900, 1.62, 0.06em, var(--white-cl));
  @media screen and (min-width: $desktop) {
    @include font(44px, 900, 1.36, 0.06em, var(--white-cl));
    max-width: 696px;
  }
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  &:hover,
  &:focus {
    background-color: var(--hero-btn-accent-cl);
  }
}
